*{
    margin: 0;
    padding: 0;
}
/* .container{
    width: 200px;
    height: 500px;
    display: grid ;
    grid-template-rows:30px 250px 30px ;
    margin: 60px auto;
}
.row {
    border: 1px solid;
} */
/* .container{
    width: 250px;
    height: 450px;
    display: grid;
    grid-template-rows: 1fr 1fr 250px 1fr 1fr;
    gap: 10px;
    margin: 50px auto;
} */

.container{
    width: 650px;
    height: 450px;
    display: grid;
    grid-template-rows: 1fr 1fr 300px 1fr 1fr;
    gap: 10px;
    margin: 50px auto;
}

.col1{
    width: 150px;
    height: 300px;
}
.col2{
    width: 500px;
    height: 300px;
}

.row{
    border: solid 2px red;
    display: grid;
}
.col{
    border: solid 2px red;
    display: grid;
    display: inline-block;
}
.row3{
    width: 150px;
}
.row4{
    width: 500px;
}